hide
notUsingTheseFiles

references

testData/*_phymlAndPAML
testData/userTree*
testData/*PAMLsummary*tsv
testData/v*

*_runPAML.log.txt
*_runPAML.sh
*.sif
slurm-*
screenoutput

.bash_history
.Rproj.user

.vscode
.DS_Store
